<div class="popup"></div>
<div class="form">
    <div class="field">
        <label class="label"><%= yourNameText %></label>
        <p class="control">
            <input class="input registr-name" type="text" placeholder="Your name">
        </p>
    </div>

    <div class="field">
        <label class="label"><%= yourEmailText %></label>
        <p class="control has-icons-left has-icons-right">
            <input class="input registr-email" type="text" placeholder="Email input" value="hello@">
        </p>
    </div>

    <div class="field">
        <label class="label"><%= yourPasswordText %></label>
        <p class="control has-icons-left has-icons-right">
            <input class="input registr-password" placeholder="Password input" value="****************" type="password">
        </p>
    </div>

    <div class="field is-grouped">
        <p class="control">
            <button class="button is-primary register"><%= signUpText %></button>
        </p>
        <p class="control">
            <button class="button  is-danger cancelRegister"><%= cancelText %></button>
        </p>
    </div>
</div>