/* BULMA - Customising.
========================================================================== */
@import "../../node_modules/bulma/sass/utilities/initial-variables";

$pink: #ffb3b3;
$pink-invert: #fff;
$primary-invert: $pink-invert;


@import "../../node_modules/bulma/bulma";

@import "../../node_modules/font-awesome/scss/font-awesome";

/* Functions and Mixins
========================================================================== */
@import "partials/utilities";
@import "partials/mixins";

/* Modules styles.
========================================================================== */
@import "partials/base";
@import "partials/menu";